/MyShop/build/
/JavaFXApplication3/nbproject/private/
/JavaFXApplication3/build/
/JavaFXApplication3/dist/
/MyShop/nbproject/private/
/MyShop/dist/
/MyShopService/build/
/MyShopService/dist/
/MyShop/build.xml
/MyShopService/build.xml

