.menu-item .label{
    -fx-text-fill: dimgrey;

}
.menu-item{
    -fx-background-color: cornsilk;
}
.menu-item:hover{
    -fx-background-color: azure;
}
.jfx-button {
    -jfx-button-type: FLAT;
    -fx-background-color: FF8C00;
    -fx-text-fill: whitesmoke;
    -fx-background-radius: 5em;
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}
.table-column {
    -fx-alignment: CENTER;
}
.table-cell{
    -fx-padding: 0.166667em; /* 2px, plus border adds 1px */

    -fx-background-color: transparent;
    -fx-border-color: transparent -fx-table-cell-border-color transparent transparent;
    -fx-border-width: 0.083333em; /* 1 */
    -fx-cell-size: 2.0em; /* 24 */
    -fx-text-fill: -fx-text-inner-color;
}
.table-row-cell {
    -fx-cell-size: 50px;
}